on:
  push:
    branches: [main]
  workflow_dispatch:

name: Deploy Staging

env:
  SERVERLESS_ACCESS_KEY: ${{ secrets.STAGING_AWS_ACCESS_KEY_ID }}

jobs:
  deploy:
    name: Deploy Staging
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Cache npm dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.STAGING_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.STAGING_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Install dependencies
        run: |
          npm ci

      - name: Check Serverless version
        run: npx serverless --version

      - name: Prepare Lambda Layer
        run: |
          mkdir -p layer/nodejs
          cp package.json layer/nodejs/
          cd layer/nodejs
          npm install --production
          cd ../..

      - name: Deploy API
        run: npx serverless deploy --stage Staging --verbose

      - name: Serverless package contents
        run: |
          npx serverless package --stage Staging
          ls -R .serverless